<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-addserver (dataEvent)="valueEmittedFromChildComponent($event)"></app-addserver>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" *ngFor="let element of serverElements">
        <app-displayserver [dataFromParent]="element">
          @if (element.type === 'server') {
          <strong style="color: red">{{ element.content }}</strong>
          }
          @else if (element.type === 'blueprint') {
          <em>{{ element.content }}</em>
          }
        </app-displayserver>
      </div>
    </div>
  </div>
</div>